<a href="https://colab.research.google.com/github/g23ai2068/Capstone-Project/blob/g23ai2125_Sudherson/Airbnb_capstone_project_Phase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = str(input('whats this notebook is for:' ))
print('this notebook is for',name)

whats this notebook is for:For our first Data engineering capstone project
this notebook is for For our first Data engineering capstone project

##Phase 1

#Problem 1
* Exploratory Data Analysis for the Airbnb Data containing ('Calender.csv, reviews.csv, Listing.csv')

Making the required packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
calender_df=pd.read_csv('/content/calendar.csv')

<ipython-input-3-a850026cd9af>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calender_df=pd.read_csv('/content/calendar.csv')

In [6]:
reviews_one=pd.read_csv('/content/review (1).csv')
reviews=pd.read_csv('/content/reviews.csv')
Total_reviews=reviews.merge(reviews_one, how='right')
Total_reviews.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...

In [7]:
Total_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406393 entries, 0 to 406392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     406393 non-null  int64
 1   id             406393 non-null  int64
 2   date           406393 non-null  object
 3   reviewer_id    406393 non-null  int64
 4   reviewer_name  406390 non-null  object
 5   comments       406309 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.6+ MB

In [8]:
listing_one=pd.read_csv('/content/listing (1).csv')
listings=pd.read_csv('/content/listings.csv')
Total=[listings,listing_one]
Total_listing=pd.concat(Total)
Total_listing.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,neighbourhood_group
0,50489368,https://www.airbnb.com/rooms/50489368,2.024090e+13,2024-09-04,previous scrape,(B) Furnished Efficiency Studio near Union Square,"This special place is close to everything, mak...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,190158687,...,5.00,5.00,NaN,t,1,1.0,0.0,0.0,0.03,NaN
1,53687935,https://www.airbnb.com/rooms/53687935,2.024090e+13,2024-09-04,previous scrape,2 Private Rooms in SF. Walk to Bart. Modern Home,Enjoy a stylish and zen experience at this mod...,safe and quiet neighborhood,https://a0.muscache.com/pictures/347792c2-b0e2...,433577666,...,4.57,4.48,0005556,f,1,0.0,1.0,0.0,0.63,NaN
2,623833252305593889,https://www.airbnb.com/rooms/623833252305593889,2.024090e+13,2024-09-04,city scrape,Massive 1-bedroom condo in the heart of SF,Spacious 1-bed 1-bath condo in downtown SF nea...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,2180153,...,4.93,4.73,2022-002139STR,f,2,1.0,1.0,0.0,0.57,NaN

In [9]:
Total_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'neighbourhood_group'],
      dtype='object')

In [10]:
Total_listing.columns.value_counts()

id                           1
maximum_nights_avg_ntm       1
calendar_last_scraped        1
availability_365             1
availability_90              1
                            ..
host_verifications           1
host_total_listings_count    1
host_listings_count          1
host_neighbourhood           1
neighbourhood_group          1
Name: count, Length: 76, dtype: int64

In [11]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7807 entries, 0 to 7806
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7807 non-null   int64
 1   listing_url                                   7807 non-null   object
 2   scrape_id                                     7807 non-null   int64
 3   last_scraped                                  7807 non-null   object
 4   source                                        7807 non-null   object
 5   name                                          7807 non-null   object
 6   description                                   7632 non-null   object
 7   neighborhood_overview                         5107 non-null   object
 8   picture_url                                   7807 non-null   object
 9   host_id                                       7807 non-null   int64
 10  host_url                                      7807 non-null   object
 11  host_name                                     7807 non-null   object
 12  host_since                                    7807 non-null   object
 13  host_location                                 6171 non-null   object
 14  host_about                                    4937 non-null   object
 15  host_response_time                            6681 non-null   object
 16  host_response_rate                            6681 non-null   object
 17  host_acceptance_rate                          6851 non-null   object
 18  host_is_superhost                             7577 non-null   object
 19  host_thumbnail_url                            7807 non-null   object
 20  host_picture_url                              7807 non-null   object
 21  host_neighbourhood                            7467 non-null   object
 22  host_listings_count                           7807 non-null   int64
 23  host_total_listings_count                     7807 non-null   int64
 24  host_verifications                            7807 non-null   object
 25  host_has_profile_pic                          7807 non-null   object
 26  host_identity_verified                        7807 non-null   object
 27  neighbourhood                                 5107 non-null   object
 28  neighbourhood_cleansed                        7807 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7807 non-null   float64
 31  longitude                                     7807 non-null   float64
 32  property_type                                 7807 non-null   object
 33  room_type                                     7807 non-null   object
 34  accommodates                                  7807 non-null   int64
 35  bathrooms                                     6153 non-null   float64
 36  bathrooms_text                                7800 non-null   object
 37  bedrooms                                      7351 non-null   float64
 38  beds                                          6102 non-null   float64
 39  amenities                                     7807 non-null   object
 40  price                                         6158 non-null   object
 41  minimum_nights                                7807 non-null   int64
 42  maximum_nights                                7807 non-null   int64
 43  minimum_minimum_nights                        7806 non-null   float64
 44  maximum_minimum_nights                        7806 non-null   float64
 45  minimum_maximum_nights                        7806 non-null   float64
 46  maximum_maximum_nights                        7806 non-null   float64
 47  minimum_nights_avg_ntm                        7806 non-null   float64
 48  maximum_nights_avg_ntm                        7806 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7554 non-null   object
 51  availability_30                               7807 non-null   int64
 52  availability_60                               7807 non-null   int64
 53  availability_90                               7807 non-null   int64
 54  availability_365                              7807 non-null   int64
 55  calendar_last_scraped                         7807 non-null   object
 56  number_of_reviews                             7807 non-null   int64
 57  number_of_reviews_ltm                         7807 non-null   int64
 58  number_of_reviews_l30d                        7807 non-null   int64
 59  first_review                                  6036 non-null   object
 60  last_review                                   6036 non-null   object
 61  review_scores_rating                          6036 non-null   float64
 62  review_scores_accuracy                        6035 non-null   float64
 63  review_scores_cleanliness                     6035 non-null   float64
 64  review_scores_checkin                         6034 non-null   float64
 65  review_scores_communication                   6035 non-null   float64
 66  review_scores_location                        6034 non-null   float64
 67  review_scores_value                           6034 non-null   float64
 68  license                                       4929 non-null   object
 69  instant_bookable                              7807 non-null   object
 70  calculated_host_listings_count                7807 non-null   int64
 71  calculated_host_listings_count_entire_homes   7807 non-null   int64
 72  calculated_host_listings_count_private_rooms  7807 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7807 non-null   int64
 74  reviews_per_month                             6036 non-null   float64
dtypes: float64(21), int64(19), object(35)
memory usage: 4.5+ MB

In [ ]:
listing_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7807 entries, 0 to 7806
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7807 non-null   int64
 1   name                            7807 non-null   object
 2   host_id                         7807 non-null   int64
 3   host_name                       7807 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7807 non-null   object
 6   latitude                        7807 non-null   float64
 7   longitude                       7807 non-null   float64
 8   room_type                       7807 non-null   object
 9   price                           6158 non-null   float64
 10  minimum_nights                  7807 non-null   int64
 11  number_of_reviews               7807 non-null   int64
 12  last_review                     6036 non-null   object
 13  reviews_per_month               6036 non-null   float64
 14  calculated_host_listings_count  7807 non-null   int64
 15  availability_365                7807 non-null   int64
 16  number_of_reviews_ltm           7807 non-null   int64
 17  license                         4929 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.1+ MB

In [12]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.6)

In [13]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [14]:
df = pd.read_csv('/content/reviews.csv', usecols=['comments'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392959 entries, 0 to 392958
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   comments  392889 non-null  object
dtypes: object(1)
memory usage: 3.0+ MB

In [16]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392959 entries, 0 to 392958
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     392959 non-null  int64
 1   id             392959 non-null  int64
 2   date           392959 non-null  object
 3   reviewer_id    392959 non-null  int64
 4   reviewer_name  392956 non-null  object
 5   comments       392889 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.0+ MB

In [17]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [19]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [20]:
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')
sent = SentimentIntensityAnalyzer()

In [21]:
import string

In [22]:
df['comments'] = df['comments'].astype(str)

In [23]:
polarity = [round(sent.polarity_scores(i)['compound'], 2) for i in df['comments']]
df['sentiment_score'] = polarity
df.head()

                                            comments  sentiment_score
0  Our experience was, without a doubt, a five st...             0.96
1  Returning to San Francisco is a rejuvenating t...             0.98
2  We were very pleased with the accommodations a...             0.76
3  We highly recommend this accomodation and agre...             0.98
4  Holly's place was great. It was exactly what I...             0.96

In [24]:
df['sentiment_score'].unique()

array([ 0.96,  0.98,  0.76,  0.99,  0.97,  0.9 ,  0.93,  0.94,  1.  ,
        0.95,  0.  ,  0.78,  0.92,  0.91,  0.82,  0.87,  0.48,  0.8 ,
        0.71,  0.46,  0.79,  0.85,  0.4 ,  0.77,  0.88,  0.89,  0.59,
        0.86,  0.49,  0.67,  0.64, -0.6 ,  0.08,  0.84,  0.72, -0.56,
        0.83, -0.13,  0.81,  0.61,  0.54,  0.62,  0.68, -0.3 ,  0.29,
        0.57,  0.66,  0.7 ,  0.2 , -0.48,  0.69,  0.74,  0.51,  0.27,
        0.56,  0.39,  0.42,  0.73,  0.32,  0.44,  0.55,  0.5 , -0.64,
        0.03,  0.02,  0.75,  0.43, -0.2 , -0.58, -0.42,  0.65, -0.91,
       -0.53, -0.93,  0.22,  0.58, -0.95,  0.53, -0.8 , -0.78, -0.73,
        0.3 ,  0.1 , -0.18,  0.6 ,  0.47, -0.52,  0.36, -0.08, -0.54,
       -0.17, -0.33,  0.52, -0.83, -0.46, -0.27, -0.43, -0.32,  0.23,
       -0.36, -0.05, -0.57,  0.34, -0.99, -0.26,  0.38,  0.28,  0.63,
        0.25, -0.94, -0.34,  0.11, -0.11,  0.18, -0.09, -0.25, -0.07,
       -0.79, -0.85,  0.17, -0.21, -0.28,  0.16,  0.37,  0.31, -0.1 ,
       -0.14, -0.69, -0.24, -1.  , -0.7 , -0.4 , -0.84, -0.68, -0.12,
       -0.61,  0.45,  0.33,  0.24,  0.05, -0.71,  0.19,  0.35, -0.9 ,
       -0.16, -0.92, -0.76,  0.14, -0.51, -0.15, -0.98, -0.97,  0.12,
        0.21, -0.03, -0.44, -0.77, -0.38, -0.55, -0.49, -0.96,  0.07,
       -0.66, -0.23, -0.72,  0.13, -0.86, -0.06, -0.04, -0.74, -0.65,
       -0.39, -0.87,  0.26, -0.59,  0.41, -0.89, -0.01, -0.31,  0.04,
       -0.35, -0.41, -0.37,  0.09, -0.88, -0.62, -0.67,  0.15, -0.5 ,
       -0.81,  0.06, -0.45, -0.29, -0.63, -0.47, -0.19, -0.75,  0.01,
       -0.22, -0.02, -0.82])

In [25]:
def text_prep(x):
     corp = str(x).lower()
     corp = re.sub('[^a-zA-Z]+',' ', corp).strip()
     tokens = word_tokenize(corp)
     words = [t for t in tokens if t not in stop_words]
     lemmatize = [lemma.lemmatize(w) for w in words]

     return lemmatize

In [26]:
preprocess_tag = [text_prep(i) for i in df['comments']]
df["preprocess_txt"] = preprocess_tag

In [27]:
calender1=pd.read_csv('/content/calendar.csv')
calender1.info()

<ipython-input-27-c5753089e593>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calender1=pd.read_csv('/content/calendar.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   listing_id      1048575 non-null  int64
 1   date            1048575 non-null  object
 2   available       1048575 non-null  object
 3   price           1048575 non-null  object
 4   adjusted_price  730 non-null      object
 5   minimum_nights  1048575 non-null  int64
 6   maximum_nights  1048575 non-null  int64
 7   available_unit  1048575 non-null  int64
dtypes: int64(4), object(4)
memory usage: 64.0+ MB

In [28]:
calender1['price'].head(10)

0    $170.00
1    $170.00
2    $170.00
3    $170.00
4    $170.00
5    $170.00
6    $170.00
7    $170.00
8    $170.00
9    $170.00
Name: price, dtype: object

In [37]:
T1=Total_reviews.fillna(method='bfill')

<ipython-input-37-24528cc7a06c>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  T1=Total_reviews.fillna(method='bfill')

In [38]:
T1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406393 entries, 0 to 406392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     406393 non-null  int64
 1   id             406393 non-null  int64
 2   date           406393 non-null  object
 3   reviewer_id    406393 non-null  int64
 4   reviewer_name  406393 non-null  object
 5   comments       406393 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.6+ MB

In [43]:
Total_reviews.tail()

,listing_id,id,date,reviewer_id,reviewer_name,comments
406388,1219622445222452442,1230654319092135704,2024-08-24,51979490,Solène,D
406389,1219622445222452442,1232036398314385400,2024-08-26,18919150,Kristopher,Great stay. Key vob stopped working but host a...
406390,1219785829994931401,1237167935539710683,2024-09-02,4338272,Anastasia,Great choice for staying! The apartment is ama...
406391,1233574822709070023,1237138800668239871,2024-09-02,541938241,Dave,Wonderful
406392,1234136833991870838,1236465876166162161,2024-09-01,328756601,Michael,This place is a gem and I wholeheartedly recom...

In [54]:
Total_reviews[Total_reviews['reviewer_name'].isin(['Nan'])]

,listing_id,id,date,reviewer_id,reviewer_name,comments
9380,109883,738602352949893620,2022-10-15,38168192,Nan,"Not recommended, musty odor, not well maintained."
9655,114401,65739725,2016-03-16,41699479,Nan,The house has a very good location. It is near...
11542,183859,6980079,2013-09-02,2216772,Nan,"Lovely apartment, excellent for a family with ..."
22277,465723,708797836,2020-11-14,38168192,Nan,"Lovely home, comfortable, nice hosts, clean an..."
56192,1605483,50786007,2015-10-14,44957173,Nan,Sio and Cris are super helpful and friendly ho...
56689,1623609,23356240,2014-11-30,17014923,Nan,We had a wonderful first time Airbnb experienc...
58964,1725853,352844021,2018-11-25,38168192,Nan,Beautiful apt with comfortable bed and nice am...
59141,1738415,20496209,2014-09-30,1414602,Nan,Donna has a great place in a great neighborhoo...
75501,2518781,611653264,2020-02-27,2126669,Nan,Christopher's home is a quiet spot close to a ...
75924,2538807,611600894024686126,2022-04-23,154627043,Nan,This cozy suite is super sweet. Lovely wooden ...
90299,3759368,75154366,2016-05-19,59730258,Nan,"This studio apt, has all the conviences of hom..."
96476,4252808,734101190,2021-02-24,38168192,Nan,Lovely place in Outer Sunset right next to the...
97471,4287481,129974590,2017-02-03,104701275,Nan,This is a very good place to stay. Quiet and c...
98942,4417901,133135084,2017-02-20,114717730,Nan,The location is very well which close to every...
109966,5144482,1003709184805809016,2023-10-16,38168192,Nan,Cozy and comfortable in a safe neighborhood. ...
112841,5547500,563038959,2019-11-11,296383925,Nan,Jason and Ryan were so accommodating the entir...
121737,6360976,32636032,2015-05-19,29002966,Nan,Nikolas is a nice guy and the description of t...
124368,6557736,48344027,2015-09-25,41647369,Nan,Paul was very accommodating. I appreciated that!
135984,7933807,108290646,2016-10-15,57687002,Nan,房子很干净！很舒适！淋浴水很大～用的毛巾很清香，很喜欢～房东先生和太太都很亲切～朋友的感觉～...
145477,9051149,594104436,2020-01-17,35823759,Nan,Elmer was very hospitable and the apartment is...
158703,11048759,134512800,2017-02-27,2126669,Nan,Keara and Spencer's place was great. Very cent...
166502,12797906,164311319,2017-06-26,18053268,Nan,"Fanny and Alice's flat is quiet, clean and wel..."
169367,13219968,389842361996226591,2021-06-21,347661685,Nan,A perfect 10 if we could give it that! We love...
171247,13293285,471779795913388077,2021-10-12,425944903,Nan,"Clean, quiet and secure place to stay. Lots of..."
204563,18209966,697188286777548660,2022-08-19,15486752,Nan,Loved the location and quiet neighborhood! Don...
206131,18615032,600017325,2020-01-31,2126669,Nan,"Rudy's guest suite is in a great, quiet locati..."
207549,18873809,412120772,2019-02-14,222517817,Nan,房东非常热情，房子距离海边很近，步行三分钟就到，去市中心也很方便。干净卫生，设施齐全，还特意...
211795,19417708,487173540,2019-07-13,90605332,Nan,"Very great living experience, warm heart host ..."
215244,20257216,247482139,2018-03-28,1005394,Nan,Cindy and Michelle were very prompt in communi...
221635,21111630,631821247,2020-06-24,336477525,Nan,exceeds expectations. super clean. amenities i...
234123,23095049,576584138,2019-12-13,2126669,Nan,Keith's home is in a great location. Check in ...
246544,26259702,611684713139448140,2022-04-23,38168192,Nan,"Lovely space, very clean and comfortable with ..."
250967,27491792,1206720189186464448,2024-07-22,33463374,Nan,Host was great and allowed us to stay just pas...
255468,28028464,920455656201483984,2023-06-23,357816799,Nan,Blair’s home was perfect for our family. Loved...
299067,36721448,634101978762389890,2022-05-24,12368457,Nan,The place is convenient and Cory is very accom...
311937,41630017,638458418113722483,2022-05-30,450706855,Nan,Great city view and great home. Very clean.
314233,42121425,592055596085727156,2022-03-27,193286923,Nan,What an amazing place! Everyone we came in con...
330704,49093030,1181270659626271962,2024-06-17,130951747,Nan,The house is clean and comfortable. The host i...
351617,51929867,590608929756671080,2022-03-25,227503943,Nan,Quiet location with clean comfortable beds and...
352838,52148168,1130647481091040409,2024-04-08,26421490,Nan,Daikha’s place was perfect for us. Great locat...
372922,625303886669891197,1153056994986283581,2024-05-09,154627043,Nan,I loved this petite oasis. The outdoor space i...

In [59]:
Total_reviews.shape

(406393, 6)

In [53]:
T1[T1['id'].isin([738602352949893620])]

,listing_id,id,date,reviewer_id,reviewer_name,comments
9380,109883,738602352949893620,2022-10-15,38168192,Nan,"Not recommended, musty odor, not well maintained."

In [57]:
T1['reviewer_name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 406393 entries, 0 to 406392
Series name: reviewer_name
Non-Null Count   Dtype
--------------   -----
406393 non-null  object
dtypes: object(1)
memory usage: 3.1+ MB

In [61]:
Total_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406393 entries, 0 to 406392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     406393 non-null  int64
 1   id             406393 non-null  int64
 2   date           406393 non-null  object
 3   reviewer_id    406393 non-null  int64
 4   reviewer_name  406390 non-null  object
 5   comments       406309 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.6+ MB

In [74]:
Total_reviews[Total_reviews['comments'].isin(['Nan'])]

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, reviewer_name, comments]
Index: []

In [66]:
pd.isnull(Total_reviews).sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     3
comments         84
dtype: int64

In [78]:
T1=Total_reviews.dropna(subset=['reviewer_name','comments'])

In [80]:
T1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406306 entries, 0 to 406392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     406306 non-null  int64
 1   id             406306 non-null  int64
 2   date           406306 non-null  object
 3   reviewer_id    406306 non-null  int64
 4   reviewer_name  406306 non-null  object
 5   comments       406306 non-null  object
dtypes: int64(3), object(3)
memory usage: 21.7+ MB

In [83]:
T1.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [85]:
Total_listing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15614 entries, 0 to 7806
Data columns (total 76 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            15614 non-null  int64
 1   listing_url                                   7807 non-null   object
 2   scrape_id                                     7807 non-null   float64
 3   last_scraped                                  7807 non-null   object
 4   source                                        7807 non-null   object
 5   name                                          15614 non-null  object
 6   description                                   7632 non-null   object
 7   neighborhood_overview                         5107 non-null   object
 8   picture_url                                   7807 non-null   object
 9   host_id                                       15614 non-null  int64
 10  host_url                                      7807 non-null   object
 11  host_name                                     15614 non-null  object
 12  host_since                                    7807 non-null   object
 13  host_location                                 6171 non-null   object
 14  host_about                                    4937 non-null   object
 15  host_response_time                            6681 non-null   object
 16  host_response_rate                            6681 non-null   object
 17  host_acceptance_rate                          6851 non-null   object
 18  host_is_superhost                             7577 non-null   object
 19  host_thumbnail_url                            7807 non-null   object
 20  host_picture_url                              7807 non-null   object
 21  host_neighbourhood                            7467 non-null   object
 22  host_listings_count                           7807 non-null   float64
 23  host_total_listings_count                     7807 non-null   float64
 24  host_verifications                            7807 non-null   object
 25  host_has_profile_pic                          7807 non-null   object
 26  host_identity_verified                        7807 non-null   object
 27  neighbourhood                                 12914 non-null  object
 28  neighbourhood_cleansed                        7807 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      15614 non-null  float64
 31  longitude                                     15614 non-null  float64
 32  property_type                                 7807 non-null   object
 33  room_type                                     15614 non-null  object
 34  accommodates                                  7807 non-null   float64
 35  bathrooms                                     6153 non-null   float64
 36  bathrooms_text                                7800 non-null   object
 37  bedrooms                                      7351 non-null   float64
 38  beds                                          6102 non-null   float64
 39  amenities                                     7807 non-null   object
 40  price                                         12316 non-null  object
 41  minimum_nights                                15614 non-null  int64
 42  maximum_nights                                7807 non-null   float64
 43  minimum_minimum_nights                        7806 non-null   float64
 44  maximum_minimum_nights                        7806 non-null   float64
 45  minimum_maximum_nights                        7806 non-null   float64
 46  maximum_maximum_nights                        7806 non-null   float64
 47  minimum_nights_avg_ntm                        7806 non-null   float64
 48  maximum_nights_avg_ntm                        7806 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7554 non-null   object
 51  availability_30                               7807 non-null   float64
 52  availability_60                               7807 non-null   float64
 53  availability_90                               7807 non-null   float64
 54  availability_365                              15614 non-null  int64
 55  calendar_last_scraped                         7807 non-null   object
 56  number_of_reviews                             15614 non-null  int64
 57  number_of_reviews_ltm                         15614 non-null  int64
 58  number_of_reviews_l30d                        7807 non-null   float64
 59  first_review                                  6036 non-null   object
 60  last_review                                   12072 non-null  object
 61  review_scores_rating                          6036 non-null   float64
 62  review_scores_accuracy                        6035 non-null   float64
 63  review_scores_cleanliness                     6035 non-null   float64
 64  review_scores_checkin                         6034 non-null   float64
 65  review_scores_communication                   6035 non-null   float64
 66  review_scores_location                        6034 non-null   float64
 67  review_scores_value                           6034 non-null   float64
 68  license                                       9858 non-null   object
 69  instant_bookable                              7807 non-null   object
 70  calculated_host_listings_count                15614 non-null  int64
 71  calculated_host_listings_count_entire_homes   7807 non-null   float64
 72  calculated_host_listings_count_private_rooms  7807 non-null   float64
 73  calculated_host_listings_count_shared_rooms   7807 non-null   float64
 74  reviews_per_month                             12072 non-null  float64
 75  neighbourhood_group                           0 non-null      float64
dtypes: float64(34), int64(7), object(35)
memory usage: 9.2+ MB

In [86]:
Total_listing.dropna()

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month, neighbourhood_group]
Index: []

[0 rows x 76 columns]

In [90]:
listin=Total_listing[['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'host_id',
'host_name', 'host_since', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
'number_of_reviews', 'review_scores_rating', 'instant_bookable']]

In [92]:
listin.head()

,id,listing_url,scrape_id,last_scraped,name,host_id,host_name,host_since,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,review_scores_rating,instant_bookable
0,50489368,https://www.airbnb.com/rooms/50489368,2.024090e+13,2024-09-04,(B) Furnished Efficiency Studio near Union Square,190158687,Christine,2018-05-17,NaN,37.79063,-122.40867,Entire home/apt,NaN,1,5.00,t
1,53687935,https://www.airbnb.com/rooms/53687935,2.024090e+13,2024-09-04,2 Private Rooms in SF. Walk to Bart. Modern Home,433577666,Hossna,2021-11-26,Neighborhood highlights,37.71753,-122.45155,Private room,NaN,21,4.62,f
2,623833252305593889,https://www.airbnb.com/rooms/623833252305593889,2.024090e+13,2024-09-04,Massive 1-bedroom condo in the heart of SF,2180153,Duolin,2012-04-19,NaN,37.78646,-122.39100,Entire home/apt,$132.00,15,4.80,f
3,53817024,https://www.airbnb.com/rooms/53817024,2.024090e+13,2024-09-04,Large 1-bedroom in a condo in the heart of SF,2180153,Duolin,2012-04-19,Neighborhood highlights,37.78694,-122.38968,Private room,NaN,39,4.87,f
4,54381390,https://www.airbnb.com/rooms/54381390,2.024090e+13,2024-09-04,Cozy 1-bedroom condo with roof deck,2274937,Dan,2012-05-02,NaN,37.76314,-122.38728,Entire home/apt,NaN,9,5.00,t

In [93]:
listin.describe()

,id,scrape_id,host_id,latitude,longitude,number_of_reviews,review_scores_rating
count,1.561400e+04,7.807000e+03,1.561400e+04,15614.000000,15614.000000,15614.000000,6036.000000
mean,3.947473e+17,2.024090e+13,1.583469e+08,37.769485,-122.429948,50.334187,4.787391
std,4.729429e+17,2.582197e+00,1.898592e+08,0.023051,0.026964,106.159972,0.400233
min,9.580000e+02,2.024090e+13,1.169000e+03,37.708540,-122.512460,0.000000,1.000000
25%,2.280397e+07,2.024090e+13,7.197110e+06,37.754360,-122.442225,1.000000,4.750000
50%,4.921290e+07,2.024090e+13,5.835076e+07,37.774900,-122.421934,7.000000,4.910000
75%,8.833529e+17,2.024090e+13,2.930250e+08,37.788415,-122.410992,46.000000,5.000000
max,1.237237e+18,2.024090e+13,5.993102e+08,37.810943,-122.366043,1239.000000,5.000000

In [91]:
listin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15614 entries, 0 to 7806
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    15614 non-null  int64
 1   listing_url           7807 non-null   object
 2   scrape_id             7807 non-null   float64
 3   last_scraped          7807 non-null   object
 4   name                  15614 non-null  object
 5   host_id               15614 non-null  int64
 6   host_name             15614 non-null  object
 7   host_since            7807 non-null   object
 8   neighbourhood         12914 non-null  object
 9   latitude              15614 non-null  float64
 10  longitude             15614 non-null  float64
 11  room_type             15614 non-null  object
 12  price                 12316 non-null  object
 13  number_of_reviews     15614 non-null  int64
 14  review_scores_rating  6036 non-null   float64
 15  instant_bookable      7807 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [95]:
listin.shape

(15614, 16)

In [103]:
pd.isnull(listin).sum()

id                         0
listing_url             7807
scrape_id               7807
last_scraped            7807
name                       0
host_id                    0
host_name                  0
host_since              7807
neighbourhood           2700
latitude                   0
longitude                  0
room_type                  0
price                   3298
number_of_reviews          0
review_scores_rating    9578
instant_bookable        7807
dtype: int64

In [97]:
listin_1=listin.dropna()

In [100]:
listin_1.describe()

,id,scrape_id,host_id,latitude,longitude,number_of_reviews,review_scores_rating
count,3.438000e+03,3.438000e+03,3.438000e+03,3438.000000,3438.000000,3438.000000,3438.000000
mean,2.239980e+17,2.024090e+13,1.127400e+08,37.765682,-122.434033,89.453461,4.800183
std,3.782818e+17,1.480684e+00,1.578982e+08,0.023276,0.028572,134.829797,0.367224
min,9.580000e+02,2.024090e+13,1.169000e+03,37.708540,-122.512110,1.000000,1.000000
25%,1.466273e+07,2.024090e+13,4.582677e+06,37.749945,-122.447162,7.000000,4.780000
50%,3.629814e+07,2.024090e+13,2.729137e+07,37.766336,-122.427495,32.000000,4.910000
75%,5.870195e+17,2.024090e+13,1.579992e+08,37.785651,-122.412601,116.000000,5.000000
max,1.208638e+18,2.024090e+13,5.891960e+08,37.809540,-122.370470,1239.000000,5.000000

In [98]:
listin_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3438 entries, 8 to 7806
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3438 non-null   int64
 1   listing_url           3438 non-null   object
 2   scrape_id             3438 non-null   float64
 3   last_scraped          3438 non-null   object
 4   name                  3438 non-null   object
 5   host_id               3438 non-null   int64
 6   host_name             3438 non-null   object
 7   host_since            3438 non-null   object
 8   neighbourhood         3438 non-null   object
 9   latitude              3438 non-null   float64
 10  longitude             3438 non-null   float64
 11  room_type             3438 non-null   object
 12  price                 3438 non-null   object
 13  number_of_reviews     3438 non-null   int64
 14  review_scores_rating  3438 non-null   float64
 15  instant_bookable      3438 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 456.6+ KB

In [108]:
print(listin['price'].unique())

[nan '$132.00' '$78.00' ... 1900.0 616.0 424.0]

In [110]:
listin[listin['price'].isin([nan])]

,id,listing_url,scrape_id,last_scraped,name,host_id,host_name,host_since,neighbourhood,latitude,longitude,room_type,price,number_of_reviews,review_scores_rating,instant_bookable
0,50489368,https://www.airbnb.com/rooms/50489368,2.024090e+13,2024-09-04,(B) Furnished Efficiency Studio near Union Square,190158687,Christine,2018-05-17,NaN,37.79063,-122.408670,Entire home/apt,NaN,1,5.00,t
1,53687935,https://www.airbnb.com/rooms/53687935,2.024090e+13,2024-09-04,2 Private Rooms in SF. Walk to Bart. Modern Home,433577666,Hossna,2021-11-26,Neighborhood highlights,37.71753,-122.451550,Private room,NaN,21,4.62,f
3,53817024,https://www.airbnb.com/rooms/53817024,2.024090e+13,2024-09-04,Large 1-bedroom in a condo in the heart of SF,2180153,Duolin,2012-04-19,Neighborhood highlights,37.78694,-122.389680,Private room,NaN,39,4.87,f
4,54381390,https://www.airbnb.com/rooms/54381390,2.024090e+13,2024-09-04,Cozy 1-bedroom condo with roof deck,2274937,Dan,2012-05-02,NaN,37.76314,-122.387280,Entire home/apt,NaN,9,5.00,t
5,566641223679016306,https://www.airbnb.com/rooms/566641223679016306,2.024090e+13,2024-09-04,Charming Victorian Mission Home,93690401,Ying,2016-09-05,Neighborhood highlights,37.75736,-122.406630,Entire home/apt,NaN,0,NaN,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7778,755957055161984787,NaN,NaN,NaN,Sunny Victorian Artist's home,304721494,HostWell,NaN,Mission,37.75101,-122.413870,Entire home/apt,NaN,14,NaN,NaN
7780,756033628725964134,NaN,NaN,NaN,JPM Deluxe Union Square Suite 1,5805679,Laurence,NaN,Downtown/Civic Center,37.78899,-122.412791,Entire home/apt,NaN,0,NaN,NaN
7793,762452434486488793,NaN,NaN,NaN,Sunny Victorian Artist's home 3br/2ba,304721494,HostWell,NaN,Mission,37.74930,-122.413840,Entire home/apt,NaN,1,NaN,NaN
7802,769894881482542028,NaN,NaN,NaN,Inn at the Opera San Francisco 1BR unit Sleeps 4,77606360,Christine,NaN,Western Addition,37.77806,-122.423390,Private room,NaN,1,NaN,NaN
7806,774304380267401610,NaN,NaN,NaN,JPM Deluxe Union Square Suite 2,5805679,Laurence,NaN,Downtown/Civic Center,37.78899,-122.412791,Private room,NaN,1,NaN,NaN

In [ ]:
#Visualization