<a href="https://colab.research.google.com/github/g23ai2068/Capstone-Project/blob/g23ai2125_Sudherson/Airbnb_capstone_project_Phase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = str(input('whats this notebook is for:' ))
print('this notebook is for',name)

whats this notebook is for:For our first Data engineering capstone project
this notebook is for For our first Data engineering capstone project

##Phase 1

#Problem 1
* Exploratory Data Analysis for the Airbnb Data containing ('Calender.csv, reviews.csv, Listing.csv')

Making the required packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
calender_df=pd.read_csv('/content/calendar.csv')

<ipython-input-3-a850026cd9af>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calender_df=pd.read_csv('/content/calendar.csv')

In [6]:
reviews_one=pd.read_csv('/content/review (1).csv')
reviews=pd.read_csv('/content/reviews.csv')
Total_reviews=reviews.merge(reviews_one, how='right')
Total_reviews.head(3)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...

In [7]:
Total_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406393 entries, 0 to 406392
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     406393 non-null  int64
 1   id             406393 non-null  int64
 2   date           406393 non-null  object
 3   reviewer_id    406393 non-null  int64
 4   reviewer_name  406390 non-null  object
 5   comments       406309 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.6+ MB

In [8]:
listing_one=pd.read_csv('/content/listing (1).csv')
listings=pd.read_csv('/content/listings.csv')
Total=[listings,listing_one]
Total_listing=pd.concat(Total)
Total_listing.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,neighbourhood_group
0,50489368,https://www.airbnb.com/rooms/50489368,2.024090e+13,2024-09-04,previous scrape,(B) Furnished Efficiency Studio near Union Square,"This special place is close to everything, mak...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,190158687,...,5.00,5.00,NaN,t,1,1.0,0.0,0.0,0.03,NaN
1,53687935,https://www.airbnb.com/rooms/53687935,2.024090e+13,2024-09-04,previous scrape,2 Private Rooms in SF. Walk to Bart. Modern Home,Enjoy a stylish and zen experience at this mod...,safe and quiet neighborhood,https://a0.muscache.com/pictures/347792c2-b0e2...,433577666,...,4.57,4.48,0005556,f,1,0.0,1.0,0.0,0.63,NaN
2,623833252305593889,https://www.airbnb.com/rooms/623833252305593889,2.024090e+13,2024-09-04,city scrape,Massive 1-bedroom condo in the heart of SF,Spacious 1-bed 1-bath condo in downtown SF nea...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,2180153,...,4.93,4.73,2022-002139STR,f,2,1.0,1.0,0.0,0.57,NaN

In [9]:
Total_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'neighbourhood_group'],
      dtype='object')

In [10]:
Total_listing.columns.value_counts()

id                           1
maximum_nights_avg_ntm       1
calendar_last_scraped        1
availability_365             1
availability_90              1
                            ..
host_verifications           1
host_total_listings_count    1
host_listings_count          1
host_neighbourhood           1
neighbourhood_group          1
Name: count, Length: 76, dtype: int64

In [11]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7807 entries, 0 to 7806
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7807 non-null   int64
 1   listing_url                                   7807 non-null   object
 2   scrape_id                                     7807 non-null   int64
 3   last_scraped                                  7807 non-null   object
 4   source                                        7807 non-null   object
 5   name                                          7807 non-null   object
 6   description                                   7632 non-null   object
 7   neighborhood_overview                         5107 non-null   object
 8   picture_url                                   7807 non-null   object
 9   host_id                                       7807 non-null   int64
 10  host_url                                      7807 non-null   object
 11  host_name                                     7807 non-null   object
 12  host_since                                    7807 non-null   object
 13  host_location                                 6171 non-null   object
 14  host_about                                    4937 non-null   object
 15  host_response_time                            6681 non-null   object
 16  host_response_rate                            6681 non-null   object
 17  host_acceptance_rate                          6851 non-null   object
 18  host_is_superhost                             7577 non-null   object
 19  host_thumbnail_url                            7807 non-null   object
 20  host_picture_url                              7807 non-null   object
 21  host_neighbourhood                            7467 non-null   object
 22  host_listings_count                           7807 non-null   int64
 23  host_total_listings_count                     7807 non-null   int64
 24  host_verifications                            7807 non-null   object
 25  host_has_profile_pic                          7807 non-null   object
 26  host_identity_verified                        7807 non-null   object
 27  neighbourhood                                 5107 non-null   object
 28  neighbourhood_cleansed                        7807 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7807 non-null   float64
 31  longitude                                     7807 non-null   float64
 32  property_type                                 7807 non-null   object
 33  room_type                                     7807 non-null   object
 34  accommodates                                  7807 non-null   int64
 35  bathrooms                                     6153 non-null   float64
 36  bathrooms_text                                7800 non-null   object
 37  bedrooms                                      7351 non-null   float64
 38  beds                                          6102 non-null   float64
 39  amenities                                     7807 non-null   object
 40  price                                         6158 non-null   object
 41  minimum_nights                                7807 non-null   int64
 42  maximum_nights                                7807 non-null   int64
 43  minimum_minimum_nights                        7806 non-null   float64
 44  maximum_minimum_nights                        7806 non-null   float64
 45  minimum_maximum_nights                        7806 non-null   float64
 46  maximum_maximum_nights                        7806 non-null   float64
 47  minimum_nights_avg_ntm                        7806 non-null   float64
 48  maximum_nights_avg_ntm                        7806 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7554 non-null   object
 51  availability_30                               7807 non-null   int64
 52  availability_60                               7807 non-null   int64
 53  availability_90                               7807 non-null   int64
 54  availability_365                              7807 non-null   int64
 55  calendar_last_scraped                         7807 non-null   object
 56  number_of_reviews                             7807 non-null   int64
 57  number_of_reviews_ltm                         7807 non-null   int64
 58  number_of_reviews_l30d                        7807 non-null   int64
 59  first_review                                  6036 non-null   object
 60  last_review                                   6036 non-null   object
 61  review_scores_rating                          6036 non-null   float64
 62  review_scores_accuracy                        6035 non-null   float64
 63  review_scores_cleanliness                     6035 non-null   float64
 64  review_scores_checkin                         6034 non-null   float64
 65  review_scores_communication                   6035 non-null   float64
 66  review_scores_location                        6034 non-null   float64
 67  review_scores_value                           6034 non-null   float64
 68  license                                       4929 non-null   object
 69  instant_bookable                              7807 non-null   object
 70  calculated_host_listings_count                7807 non-null   int64
 71  calculated_host_listings_count_entire_homes   7807 non-null   int64
 72  calculated_host_listings_count_private_rooms  7807 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7807 non-null   int64
 74  reviews_per_month                             6036 non-null   float64
dtypes: float64(21), int64(19), object(35)
memory usage: 4.5+ MB

In [ ]:
listing_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7807 entries, 0 to 7806
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7807 non-null   int64
 1   name                            7807 non-null   object
 2   host_id                         7807 non-null   int64
 3   host_name                       7807 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7807 non-null   object
 6   latitude                        7807 non-null   float64
 7   longitude                       7807 non-null   float64
 8   room_type                       7807 non-null   object
 9   price                           6158 non-null   float64
 10  minimum_nights                  7807 non-null   int64
 11  number_of_reviews               7807 non-null   int64
 12  last_review                     6036 non-null   object
 13  reviews_per_month               6036 non-null   float64
 14  calculated_host_listings_count  7807 non-null   int64
 15  availability_365                7807 non-null   int64
 16  number_of_reviews_ltm           7807 non-null   int64
 17  license                         4929 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.1+ MB

In [12]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.6)

In [13]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [14]:
df = pd.read_csv('/content/reviews.csv', usecols=['comments'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392959 entries, 0 to 392958
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   comments  392889 non-null  object
dtypes: object(1)
memory usage: 3.0+ MB

In [16]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392959 entries, 0 to 392958
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     392959 non-null  int64
 1   id             392959 non-null  int64
 2   date           392959 non-null  object
 3   reviewer_id    392959 non-null  int64
 4   reviewer_name  392956 non-null  object
 5   comments       392889 non-null  object
dtypes: int64(3), object(3)
memory usage: 18.0+ MB

In [17]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [19]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [20]:
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')
sent = SentimentIntensityAnalyzer()

In [21]:
import string

In [22]:
df['comments'] = df['comments'].astype(str)

In [ ]:
polarity = [round(sent.polarity_scores(i)['compound'], 2) for i in df['comments']]
df['sentiment_score'] = polarity
df.head()

In [ ]:
df['sentiment_score'].unique()

In [ ]:
def text_prep(x):
     corp = str(x).lower()
     corp = re.sub('[^a-zA-Z]+',' ', corp).strip()
     tokens = word_tokenize(corp)
     words = [t for t in tokens if t not in stop_words]
     lemmatize = [lemma.lemmatize(w) for w in words]

     return lemmatize

In [ ]:
preprocess_tag = [text_prep(i) for i in df['comments']]
df["preprocess_txt"] = preprocess_tag

In [ ]:
calender1=pd.read_csv('/content/calendar.csv')
calender1.info()

In [ ]:
calender1['price'].head(10)